@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
    background-color: #020617;
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: linear-gradient(#7BD1FC, #3B82F6, #7BD1FC);
    width: 100px;
    height: 10px;

}
::-webkit-scrollbar-track {
    width: 2.5px;
}